* {
	margin: 0;
	padding: 0;
}

header {
	font: bold 36px/120% Arial, Helvetica, sans-serif;
	background: #333;
	color: #c00;
	text-transform: uppercase;
}

section p { /* layout for the section*/
	font: bold 24px/150% Arial, Helvetica, sans-serif;
	background: #ccc;
	border: #999 2px solid;
	color: #666;
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

.right { /* layout for the good answer*/
	background: #0c0;
	border: #090 2px solid;
	color: #060;
}

.wrong { /* layout for the wrong answer*/
	background: #c00;
	border: #900 2px solid;
	color: #600;
}

input, button { /* layout for the button*/
	font: bold 24px/150% Arial, Helvetica, sans-serif;
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 300px;
	background: #203;
	color: grey;
}

body {
	width: 400px;
	margin: 0 auto;
	background: #fff;
	height: 100vh;
}

html {
	background: #444;
}